.main {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 38px;
    background-color: #F9F9F9;
}

.bannerWithAppointments {
    margin-top: 30px;
    display: flex;
    gap: 164px;
}