.appointment {
    width: 452px;
    background: #FFFFFF;
    border: 1px solid #EDEBEB;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-right: 22px;
}

.card {
    width: 342px;
    height: 101px;
    border: 1px solid #FDDAD6;
    border-radius: 8px;
    border-left: none;
    margin-top: 24px;
    margin-right: 19px;
}

.day {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #384449;
}

.d-info {
    background: #FFF5F5;
}

.option {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    padding-right: 8px;
}

.time {
    background-color: white;
}

.comment {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* padding-right: 7px; */
}