.banner {
    margin-top: 30px;
    width: 718px;
    height: 213px;
    border-radius: 8px;
    background: linear-gradient(91.57deg, #FF7594 19.86%, #FF797B 84.16%, #FF7C65 139.72%);
    display: flex;
    justify-content: space-between;
}

.bannerText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding-top: 13px;
}